/* mdview builtin scheme: dracula */
body { color: #f8f8f2; background-color: #282a36; }
h1 { color: #bd93f9; font-weight: bold; border-color: #bd93f9; }
h2 { color: #8be9fd; font-weight: bold; border-color: #8be9fd; }
h3 { color: #ff79c6; font-weight: bold; }
h4 { color: #50fa7b; font-weight: bold; }
h5 { color: #f1fa8c; font-weight: bold; }
h6 { color: #6272a4; font-weight: bold; }
p { color: #f8f8f2; }
strong { font-weight: bold; }
em { font-style: italic; }
del { color: #6272a4; text-decoration: line-through; }
code { color: #ffb86c; background-color: #44475a; }
pre { color: #f8f8f2; background-color: #44475a; }
a { color: #8be9fd; text-decoration: underline; }
blockquote { color: #adb2c4; border-color: #6272a4; background: #44475a; }
li { color: #ff79c6; }
table, th, td { color: #f8f8f2; border-color: #44475a; }
th { font-weight: bold; }
hr { border-color: #44475a; }
img { color: #6272a4; }
math { color: #f1fa8c; font-style: italic; }
footnote { color: #6272a4; }
syntax-keyword { color: #ff79c6; }
syntax-string { color: #f1fa8c; }
syntax-comment { color: #6272a4; font-style: italic; }
syntax-function { color: #50fa7b; }
syntax-type { color: #8be9fd; }
syntax-number { color: #bd93f9; }
syntax-operator { color: #ff79c6; }
