/* mdview builtin scheme: gruvbox-dark */
body { color: #ebdbb2; background-color: #282828; }
h1 { color: #fb4934; font-weight: bold; border-color: #fb4934; }
h2 { color: #fe8019; font-weight: bold; border-color: #fe8019; }
h3 { color: #fabd2f; font-weight: bold; }
h4 { color: #b8bb26; font-weight: bold; }
h5 { color: #8ec07c; font-weight: bold; }
h6 { color: #928374; font-weight: bold; }
p { color: #ebdbb2; }
strong { font-weight: bold; }
em { font-style: italic; }
del { color: #928374; text-decoration: line-through; }
code { color: #fabd2f; background-color: #3c3836; }
pre { color: #ebdbb2; background-color: #3c3836; }
a { color: #83a598; text-decoration: underline; }
blockquote { color: #bdae93; border-color: #504945; background: #3c3836; }
li { color: #fe8019; }
table, th, td { color: #ebdbb2; border-color: #504945; }
th { font-weight: bold; }
hr { border-color: #504945; }
img { color: #928374; }
math { color: #d3869b; font-style: italic; }
footnote { color: #928374; }
cursor { background-color: #32302f; }
syntax-keyword { color: #fb4934; }
syntax-string { color: #b8bb26; }
syntax-comment { color: #928374; font-style: italic; }
syntax-function { color: #b8bb26; }
syntax-type { color: #fabd2f; }
syntax-number { color: #d3869b; }
syntax-operator { color: #8ec07c; }
