/* mdview builtin scheme: solarized-dark */
body { color: #839496; background-color: #002b36; }
h1 { color: #268bd2; font-weight: bold; border-color: #268bd2; }
h2 { color: #2aa198; font-weight: bold; border-color: #2aa198; }
h3 { color: #859900; font-weight: bold; }
h4 { color: #b58900; font-weight: bold; }
h5 { color: #cb4b16; font-weight: bold; }
h6 { color: #586e75; font-weight: bold; }
p { color: #839496; }
strong { font-weight: bold; }
em { font-style: italic; }
del { color: #586e75; text-decoration: line-through; }
code { color: #2aa198; background-color: #073642; }
pre { color: #839496; background-color: #073642; }
a { color: #268bd2; text-decoration: underline; }
blockquote { color: #657b83; border-color: #586e75; background: #073642; }
li { color: #2aa198; }
table, th, td { color: #839496; border-color: #073642; }
th { font-weight: bold; }
hr { border-color: #073642; }
img { color: #586e75; }
math { color: #6c71c4; font-style: italic; }
footnote { color: #586e75; }
cursor { background-color: #04313c; }
syntax-keyword { color: #859900; }
syntax-string { color: #2aa198; }
syntax-comment { color: #586e75; font-style: italic; }
syntax-function { color: #268bd2; }
syntax-type { color: #b58900; }
syntax-number { color: #d33682; }
syntax-operator { color: #839496; }
